{% if page.category == "work" %}
  {% for post in site.categories.work %}
    {% if post.url == page.url %}
      {% assign current_post_index = forloop.index %}
    {% endif %}
  {% endfor %}
{% endif %}

<div class="post-footer">
  {% if page.category == "work" %}
    <h2 class="heading-2 heading-2--next-reads">Other work you might like…</h2>
  {% elsif page.category == "writings" %}
    <h2 class="heading-2 heading-2--next-reads">Other writings you might like…</h2>
  {% endif %}
  <div class="bookshelf-container">
    <div class="flex-container flex-container--wrap flex-container--align-end flex-container--center">
    {% for post in site.categories.work %}

    {% if post.book_gradient_overlay == "true" %}
      {% capture gradient_overlay %}background: linear-gradient(45deg, hsl( {{ post.primary_h }}, {{ post.primary_s }}%, {{ post.primary_l }}%) 0%, hsl( {{ post.secondary_h }}, {{ post.secondary_s }}%, {{ post.secondary_l }}%)  100%);{% endcapture %}
    {% else %}
      {% capture gradient_overlay %}background: {{ post.book_bg_color }}{% endcapture %}
    {% endif %}

    {% capture text_color_1 %}color: hsl( {{ post.secondary_t_h }}, {{ post.secondary_t_s }}%, {{ post.secondary_t_l }}%);{% endcapture %}

    {% capture text_color_2 %}color: hsl( {{ post.secondary_t_h }}, {{ post.secondary_t_s }}%, {{ post.secondary_t_l }}%);{% endcapture %}

    {% if post.book_multiply == "true" %}
      {% capture book_multiply %}mix-blend-mode: multiply;{% endcapture %}
    {% endif %}

    {% capture book_image_opacity %}opacity: {{ post.book_image_opacity }};{% endcapture %}

    {% if post.book_image_opacity == "true" %}
      {% capture book_image_opacity %}opacity: {{ post.book_image_opacity }}{% endcapture %}
    {% endif %}

      {% unless forloop.index == current_post_index %}
        {% include generic_book.html %}
      {% endunless %}
    {% endfor %}
    </div>
    <div class="bookshelf-backdrop"></div>
  </div>
</div>
