{% capture image_url %}/assets/images/{{ page.date | date: "%Y/%m/%d" }}/{% endcapture %}

<!-- GALLERY 5 -->
{% if include.url_5 %}
<div class="gallery gallery-5">
  <div class="grid-row">
    <div class="grid-cell grid-half">
      <div class="image-container image-container--3-2">
        <div class="image-aspect-adjust">
          <a class="has-lightbox-link image-popup-no-margins" href="{{ image_url }}/{{ include.url_1}}">
            <img class="has-lightbox" src="{{ image_url }}/{{ include.url_1}}"/>
          </a>
        </div>
      </div>
    </div>
    <div class="grid-cell grid-half">
      <div class="image-container image-container--3-2">
        <div class="image-aspect-adjust">
          <a class="has-lightbox-link image-popup-no-margins" href="{{ image_url }}/{{ include.url_2}}">
            <img class="has-lightbox" src="{{ image_url }}/{{ include.url_2}}"/>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-cell grid-third">
      <div class="image-container image-container--3-2">
        <div class="image-aspect-adjust">
          <a class="has-lightbox-link image-popup-no-margins" href="{{ image_url }}/{{ include.url_3}}">
            <img class="has-lightbox" src="{{ image_url }}/{{ include.url_3}}"/>
          </a>
        </div>
      </div>
    </div>
    <div class="grid-cell grid-third">
      <div class="image-container image-container--3-2">
        <div class="image-aspect-adjust">
          <a class="has-lightbox-link image-popup-no-margins" href="{{ image_url }}/{{ include.url_4}}">
            <img class="has-lightbox" src="{{ image_url }}/{{ include.url_4}}"/>
          </a>
        </div>
      </div>
    </div>
    <div class="grid-cell grid-third">
      <div class="image-container image-container--3-2">
        <div class="image-aspect-adjust">
          <a class="has-lightbox-link image-popup-no-margins" href="{{ image_url }}/{{ include.url_5}}">
            <img class="has-lightbox" src="{{ image_url }}/{{ include.url_5}}"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% elsif include.url_4 %}
<div class="gallery gallery-4">
  <div class="grid-row">
    <div class="grid-cell grid-full">
      <div class="image-container image-container--2-1">
        <div class="image-aspect-adjust">
          <a class="has-lightbox-link image-popup-no-margins" href="{{ image_url }}/{{ include.url_1}}">
            <img class="has-lightbox" src="{{ image_url }}/{{ include.url_1 }}"/>
        </a>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-cell grid-third">
      <div class="image-container image-container--16-9">
        <div class="image-aspect-adjust">
          <a class="has-lightbox-link image-popup-no-margins" href="{{ image_url }}/{{ include.url_2}}">
            <img class="has-lightbox" src="{{ image_url }}/{{ include.url_2 }}"/>
        </a>
        </div>
      </div>
    </div>
    <div class="grid-cell grid-third">
      <div class="image-container image-container--16-9">
        <div class="image-aspect-adjust">
          <a class="has-lightbox-link image-popup-no-margins" href="{{ image_url }}/{{ include.url_3}}">
            <img class="has-lightbox" src="{{ image_url }}/{{ include.url_3 }}"/>
        </a>
        </div>
      </div>
    </div>
    <div class="grid-cell grid-third">
      <div class="image-container image-container--16-9">
        <div class="image-aspect-adjust">
          <a class="has-lightbox-link image-popup-no-margins" href="{{ image_url }}/{{ include.url_4}}">
            <img class="has-lightbox" src="{{ image_url }}/{{ include.url_4 }}"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% elsif include.url_3 %}
<div class="gallery gallery-3">
  <div class="grid-row">
    <div class="grid-cell grid-full">
      <div class="image-container image-container--16-9">
        <div class="image-aspect-adjust">
          <a class="has-lightbox-link image-popup-no-margins" href="{{ image_url }}/{{ include.url_1}}">
            <img class="has-lightbox" src="{{ image_url }}/{{ include.url_1 }}"/>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-cell grid-half">
      <div class="image-container image-container--3-2">
        <div class="image-aspect-adjust">
          <a class="has-lightbox-link image-popup-no-margins" href="{{ image_url }}/{{ include.url_2}}">
            <img class="has-lightbox" src="{{ image_url }}/{{ include.url_2 }}"/>
          </a>
        </div>
      </div>
    </div>
    <div class="grid-cell grid-half">
      <div class="image-container image-container--3-2">
        <div class="image-aspect-adjust">
          <a class="has-lightbox-link image-popup-no-margins" href="{{ image_url }}/{{ include.url_3}}">
            <img class="has-lightbox" src="{{ image_url }}/{{ include.url_3 }}"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- GALLERY 2 -->
{% elsif include.url_2 %}
<div class="gallery gallery-2">
  <div class="grid-row">
    <div class="grid-cell grid-full">
      <div class="image-container image-container--16-9">
        <div class="image-aspect-adjust">
          <a class="has-lightbox-link image-popup-no-margins" href="{{ image_url }}/{{ include.url_1}}">
            <img class="has-lightbox" src="{{ image_url }}/{{ include.url_1 }}"/>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-cell grid-full">
      <div class="image-container image-container--16-9">
        <div class="image-aspect-adjust">
          <a class="has-lightbox-link image-popup-no-margins" href="{{ image_url }}/{{ include.url_2}}">
            <img class="has-lightbox" src="{{ image_url }}/{{ include.url_2 }}"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
  {% if  include.image_type == "custom_bg" %}
  <div class="grid-row" style="background-color: {{ include.dominant_color }}">
  {% else %}
  <div class="grid-row" >
  {% endif %}
  <div class="grid-cell grid-full">
    <div class="image-container">
      <div class="">
        <a class="has-lightbox-link image-popup-no-margins" href="{{ image_url }}{{ include.url_1}}">
          <img
            class="has-lightbox {% if  include.image_type == 'custom_bg' %}blended-image{% endif %}"
            src="{{ image_url }}/{{ include.url_1 }}"/>
        </a>
      </div>
    </div>
  </div>
</div>
{% endif %}



