<div class="comment-item">
  <div class="comment-item-head flex-container flex-container--wrap">
    <div class="comment-item-photo flex-item flex-item--no-flex">
      <img src="http://www.gravatar.com/avatar/6edf07234da636343951f1d8a858164a?d=retro" />
    </div>
    <div class="comment-item-body flex-item">
      <h3 class="comment-item-name">Russell Baylis</h3>
      <span class="comment-item-date">December 12th, 2015</span>
      <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adip*isicing elit, sed do eiusmod *tempor incididunt ut labore et dolore magna aliqua.</div>
    </div>
  </div>
</div>
