<script>
$( document ).ready(function() {

  var bg_source = '';

  /* CLICK TO FIRE */
  $('[data-lightbox]').on('click', function(){
    open_lightbox($(this));
  });

  /* ENTER KEY TO FIRE */
  $('[data-lightbox]').keydown(function (e) {
    if($(".lightbox-visible" ).length > 0){
      console.log("close");
      if(e.which == 13 || e.which == 27) {
        close_lightbox();
      }
    }else{
      if (e.which == 13) {
        open_lightbox($(this));
        console.log("open");
      }
    }
  });

  /* ClOSE WITH ENTER OR ESCAPE KEY */
  $('.lightbox').on('click', function(){
    close_lightbox();
  });

  function open_lightbox(source){
    bg_source = source.attr('data-lightbox');
    $('.lightbox').css('background-image', 'url(' + bg_source + ')');
    $('.lightbox').addClass('lightbox-visible');
  }

  function close_lightbox(){
    $('.lightbox').removeClass('lightbox-visible');

    setTimeout(function(){
      $('.lightbox').css('background-image', '');
    }, 500);
  }

});
</script>
