.article-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 1;
}

.article-container > p:first-child:first-letter {
  font-size: 4rem;
  position: absolute;
  float: left;
  line-height: 0.4;
  padding-bottom: 0.5rem;
  margin-top: 0.7rem;
  margin-right: 0.1em;
}

.article-container{
  padding: 0 1rem 1rem 1rem;
  background-color: $white-color;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  // box-shadow: 0 2px 0px 0px hsla(0, 0%, 0%, 0.06);
  box-shadow: 0 0 0 10px hsla(0,0%,100%, 0.2);

  @media only screen and (min-width: 700px){
    box-shadow: 0 0 0 1rem hsla(0,0%,100%, 0.2);
  }
  // @media only screen and (min-width: $huge-device){
  //   padding: 0 10rem 8rem 10rem;
  // }

  @media only screen and (min-width: 400px){
    padding: 0 1rem 1rem 1rem;
  }

  @media only screen and (min-width: 500px){
    padding: 0 2rem 2rem 2rem;
  }

  @media only screen and (min-width: 600px){
    padding: 0 3rem 3rem 3rem;
  }

  @media only screen and (min-width: 600px){
    padding: 0 4rem 4rem 4rem;
  }

}

.article-header{
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.article-container .article-meta {
  font-size: 0.9rem;
  display: inline-block;
  margin-top: 0.8rem;
}

.article-container .author:after{
  content:' – ';
}

.article-container blockquote{
  margin: 2rem 3rem 2rem 2rem;
  font-size: 1rem;
  line-height: $line-height-standard;
  font-size: $font-size-standard;
  font-style: italic;
}

.article-container code{
  font-family: "Courier";
  white-space: pre;
  font-size: 0.8rem;
  margin: 2rem 3rem 2rem 2rem;
}

.article-container ul{
  list-style: none;
}

.article-container li:before {
  content: '\2022';
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -1rem;
  line-height: 1;
  top: 0;
  font-size: 20px;
}
