@font-face {
  font-family: "Tiempos";
  src: url(fonts/TiemposWeb/Testing-subsetting.woff);
}

@font-face {
  font-family: "Nobel Book";
  src: url(fonts/nobel-book.woff);
}

@font-face {
  font-family: "Tiempos";
  font-weight: 300;
  src: url(fonts/TiemposWeb/TiemposWebLF-Semibold.woff);
}

@font-face {
  font-family: "Tiempos";
  font-weight: 500;
  src: url(fonts/TiemposWeb/TiemposHeadlineWeb-Black.woff);
}
