.gallery {

  .grid-cell {
    margin-top: 4px;
    float: left;
  }

  .grid-full{
    width: 100%;
  }

  .grid-half {
    width: calc(50% - 2px);
    float: left;

    @media only screen and (max-width: $medium-device){
      width: 100%;
      float: left;
    }
  }

  .grid-third {
    width: calc(33.3333% - 2.6667px);

    @media only screen and (max-width: $medium-device){
      width: 100%;
    }
  }

  .grid-half:nth-of-type(1),
  .grid-third:nth-of-type(1),
  .grid-third:nth-of-type(2) {
    margin-right: 4px;
  }

  .grid-half:nth-of-type(2),
  .grid-third:nth-of-type(3) {
    margin-right: 0;
    float: right;
  }
}

.grid-container{
  max-width: 40rem;
  position: relative;
  z-index: 2;
  margin: 0 auto 0 auto;
}
