.image-header{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-size: cover;
  background-position: 50% 50%;
  width: calc(100% + 8rem);
  margin-left: -4rem;
  @media only screen and (max-width: $medium-device){
    width: calc(100% + 4rem);
    margin-left: -2rem;
  }
}

.image-header:before{
  margin: 0;
}

.defs-only {
  position: absolute;
  height: 0; width: 0;
  overflow: none;
  left: -100%;
}

.image-block{
  -webkit-filter: grayscale(0.5);
  filter: grayscale(0.5);
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  -webkit-transition: all .5s cubic-bezier(0.56, -0.67, 0.38, 1.24);
  box-shadow: 0 0 1px 1px hsla(0, 0%, 0%,0);
  -webkit-backface-visibility: hidden;
}

.image-container{
  position: relative;
}

.image-aspect-adjust{
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.image-cover-link{
  position: absolute;
  overflow: hidden;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent !important;
  transition: none;
  border: none;
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}

.image-cover-link:focus{
  border-radius: 5px;
}

.image-cover-link:focus + .image-aspect-adjust{
  border-radius: 5px;
}

.image-container--3-2{
  padding-top: 66.6666667%;
}

.image-container--2-1{
  padding-top: 50%;
}

.image-container--16-9{
  padding-top: 56.25%
}

.image-aspect-adjust img{
  position: absolute;
  width: 100%;
  max-width: none;
  -webkit-transform: translateY(-50%);
  top: 50%;
}

.image-aspect-adjust img[src*="va_top"]{
  top: 0;
  -webkit-transform: translateX(-50%);
  left: 50%;
}

.image-aspect-adjust img[src*="aspect-1-1"]{
  top: 0;
  -webkit-transform: translateX(-50%);
  left: 50%;
}

.image-container .has-lightbox-link{
  border: none;
  background-color: transparent;
}

/* max widths */

img[src*="width"] {
  margin: 0 auto;
  display: block;
}

img[src*="width_30rem"] {
  width: 30rem;
}

img[src*="width_35rem"] {
  width: 35rem;
}


img[src*="width_40rem"] {
  width: 40rem;
}

/* Image blending */
@supports (mix-blend-mode: multiply) {
  img.blended-image{
    mix-blend-mode: multiply;
    padding: 5rem;
    box-sizing: border-box;

    @media only screen and (max-width: $tiny-device){
      padding: 1rem;
    }
  }
}



