.lightbox{
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: opacity 0.2s;
}

.lightbox-visible{
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  // background-color: hsl(0, 0%, 91%);
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}

.lightbox-image{
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-transform: scale(0.9);
  -webkit-transition: all 0.5s;
}

.lightbox-visible .lightbox-image{
  -webkit-transform: scale(1);
}

.lightbox-bg{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #efefef;
}
