.main-nav {
  width: 100%;
  text-align: center;
  line-height: 4rem;
  position: relative;
  z-index: 2;
  margin-bottom: 10px;

  @media only screen and (min-width: 700px){
    margin-bottom: 1rem;
  }
}

.link a{
  margin: 0 0.5rem;
  cursor: pointer;
  display: inline-block;
  line-height: 1.5;
  -webkit-user-select: none;
  border-bottom-width: 0px;

  @media only screen and (min-width: 550px){
    margin: 0 2rem;
  }
}

.link a:hover{
  border-bottom-width: 2px;
  opacity: 1;
}
