$base-font-family: "Freight Text", "Georgia", serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$line-height-standard: 1.47;
$font-size-standard: 1rem;

$text-color:       #111;
$text-color-light: lighten($text-color, 50%);
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$white-color:      #fff;
$black-color:      #000;
$black-color-transparent: transparentize($black-color, 0.9);

$grey-color:       #efefef;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$content-width:    800px;

$tiny-device:     500px;
$medium-device:   800px;
$large-device:    900px;
$huge-device:     1100px;
